<div class="row featurette">
    <div class="col-md-10 col-md-offset-1">
        <span class="anchor" id="schedule"></span>
        <a id="schedule"></a>
        <h2 class="featurette-heading light-orange">Schedule <span class="text-muted">So how's it going down?</span></h2>


        {% for workshop in site.data.schedule %}

            <p class="lead schedule-time light-orange schedule-bold">{{ workshop.time }}</p>

            <p class="lead schedule-middle schedule-bold">{{ workshop.title }}</p>

            {% if workshop.description %}
                {% if workshop.description_line_two %}
                    <p class="lead schedule-middle">{{ workshop.description }}</p>
                    <p class="lead schedule-item">{{ workshop.description_line_two }}</p>
                {% else %}
                    <p class="lead schedule-item">{{ workshop.description }}</p>
                {% endif %}
            {% endif %}


        {% endfor %}

        <br>

        {% if site.data.global.show_download_schedule_pdf %}
            <p class="lead center-aligned"><a href="/assets/images/{{ site.data.global.schedule_pdf }}" class="scrollToTop" target="_blank" rel="noopener"><span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;Download Schedule</a></p>
        {% endif %}

        <p class="right-aligned"><a href="#top" class="scrollToTop">Back to top  <span class="glyphicon glyphicon-circle-arrow-up"></span></a></p>

    </div>
 </div>

 <hr class="featurette-divider">
