<div class="row featurette">
    <div class="col-md-10 col-md-offset-1">
        <span class="anchor" id="schedule"></span>
        <a id="schedule"></a>
        <h2 class="featurette-heading light-orange">Schedule <span class="text-muted">So how's it going down?</span></h2>

        <p class="lead schedule-time light-orange schedule-bold">9:30 AM - 10:20 AM</p>
        <p class="lead schedule-middle schedule-bold">Salsa Fest Founder Matt Gresko and Allison Hurst</p>
        <p class="lead schedule-item">Beginner/ Intermediate Salsa On1</p>

        <p class="lead schedule-time light-orange schedule-bold">10:30 AM - 11:20 AM</p>
        <p class="lead schedule-middle schedule-bold">Caramelo, Boston</p>
        <p class="lead schedule-item">On2 Shines / Styling / Body Movement</p>

        <p class="lead schedule-time light-orange schedule-bold">11:30 AM - 12:20 PM</p>
        <p class="lead schedule-middle schedule-bold">Edwin Roa, Charlottesville</p>
        <p class="lead schedule-item">Kizomba</p>

        <p class="lead schedule-time light-orange schedule-bold">12:30 PM - 1:20 PM</p>
        <p class="lead schedule-middle schedule-bold">Brian Le, DC</p>
        <p class="lead schedule-middle">Bachata</p>

        <p class="lead schedule-time light-orange schedule-bold">1:30 PM - 2:20 PM</p>
        <p class="lead schedule-middle schedule-bold">Shaka Brown, DC</p>
        <p class="lead schedule-item">On1 Salsa Partnerwork</p>

        <p class="lead schedule-time light-orange schedule-bold">2:30 PM - 3:20 PM</p>
        <p class="lead schedule-middle schedule-bold">Maria Krupholter, DC</p>
        <p class="lead schedule-item">On2 Salsa Partnerwork</p>

        <p class="lead schedule-time light-orange schedule-bold">3:30 PM - 4:20 PM</p>
        <p class="lead schedule-middle schedule-bold">Ruben Ochoa, California</p>
        <p class="lead schedule-item">Bachata</p>

        <p class="lead schedule-time light-orange schedule-bold">4:30 PM - 5:20 PM</p>
        <p class="lead schedule-middle schedule-bold">Shaka Brown, DC</p>
        <p class="lead schedule-item">Cha Cha</p>

        <p class="lead schedule-time light-orange schedule-bold">5:30 PM - 6:20 PM</p>
        <p class="lead schedule-middle schedule-bold">Orlando Machuca, DC</p>
        <p class="lead schedule-item">On2 Partnerwork</p>

        <p class="lead schedule-time light-orange schedule-bold">6:30 PM - 8:30 PM</p>
        <p class="lead schedule-item schedule-bold">Dinner Break</p>

        <p class="lead schedule-time light-orange schedule-bold">8:30 PM - 10:30 PM</p>
        <p class="lead schedule-item schedule-bold">Live Music + Party!</p>


        <p class="lead schedule-time light-orange schedule-bold">10:30 PM - 11:15 PM</p>
        <p class="lead schedule-middle schedule-bold">Performances!</p>
        <p class="lead schedule-middle">Featuring Yamulee DC project, Caramelo,</p>
        <p class="lead schedule-middle">Michael Villagomez, Brian Le, Ruben Ochoa Men's Styling Trio, </p>
        <p class="lead schedule-item">DNC2:BEAT, and UVA Salsa Club</p>

        <p class="lead schedule-time light-orange schedule-bold">11:15 PM - 2:00 AM</p>
        <p class="lead schedule-item schedule-bold">The Party Continues!</p>

        <p class="right-aligned"><a href="#top" class="scrollToTop">Back to top  <span class="glyphicon glyphicon-circle-arrow-up"></span></a></p>

    </div>
 </div>

 <hr class="featurette-divider">
