
<div class="row featurette">
  <div class="row">
    <div class="col-md-12">
      <p class="lead cushion"></p>
      <h2 class="center-aligned text-muted sponsors-heading">Thanks to our sponsor:</h2>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
      <img class="featurette-image img-responsive custom-img" src="assets/images/uvaParentsFundLogo.png" alt="UVa Parents Fund Logo" style="vertical-align:middle;">
    </div>
  </div>
  <div class="col-md-12">
    <p class="right-aligned"><a href="#top" class="scrollToTop">Back to top  <span class="glyphicon glyphicon-circle-arrow-up"></span></a></p>
  </div>
</div>
