<div class="row featurette">
  <div class="col-md-10 col-md-offset-1">
    <span class="anchor" id="tickets"></span>
    <a id="tickets"></a>
    <h2 class="featurette-heading light-orange">How do I get tickets? <span class="text-muted">Purchase online or at the door!</span></h2>
    <p class="lead schedule-time">General Admission All-Day (Includes Party) <span class="schedule-bold">$20</span></p>
    <p class="lead schedule-time">General Admission Party-Only Pass <span class="schedule-bold">$10</span></p>
    <p class="lead schedule-time">Student All-Day (Includes Party, valid student ID required) <span class="schedule-bold">$5</span></p>
    <p class="lead schedule-time">Registered UVA Salsa Club Member All-Day (Includes Party) <span class="schedule-bold">FREE</span></p>


    {% if site.data.global.show_online_ticketing %}
        {% if site.data.global.online_ticketing_closed %}
            <div class="jumbotron jumbotron-custom">
              <p><a class="btn btn-lg btn-success cushion disabled" role="button" target="_blank" rel="noopener">Online ticketing has closed</a></p>
            </div>

            <p class="lead schedule-time cushion">Tickets are available at the door on a first-come, first-serve basis. Cash and credit cards accepted.</p>
        {% else %}

            <div class="jumbotron jumbotron-custom">
              <p><a class="btn btn-lg btn-success cushion" href="{{ site.data.global.ticket_url }}" role="button" target="_blank" rel="noopener">Get tickets!</a></p>
            </div>
            <p class="lead schedule-time cushion">Tickets are available online and at the door on a first-come, first-serve basis. Online ticketing will close at {{ site.data.global.online_ticket_deadline }}.</p>
            <p class="lead schedule-time cushion">Event attendance is expected to reach capacity. Please consider purchasing a ticket in advance to avoid being turned away at the door if tickets are sold out.</p>
        {% endif %}

    {% else %}
        <div class="jumbotron jumbotron-custom">
          <p><a class="btn btn-lg btn-success cushion disabled" role="button" target="_blank" rel="noopener">Online tickets coming soon</a></p>
        </div>
    {% endif %}

    <p class="right-aligned"><a href="#top" class="scrollToTop">Back to top  <span class="glyphicon glyphicon-circle-arrow-up"></span></a></p>
  </div>
</div>
