{% include top.html %}

  <body>

    {% if site.data.global.show_alert %}
        {% include alert.html %}
    {% endif %}

    <div class="container" id="big-container">
      <a id="top"></a>
      <div class="container row">
        <img src="assets/images/banner-2018.png" class="img-responsive img-custom">
        <p class="cushion"></p>
      </div>

      <!-- Menu -->
      <div>
        <ul class="nav nav-pills pills-custom nav-justified pull-right header-lines">
          <li><a class="custom-color" href="#about" id="scrollToAbout">About</a></li>

          {% if site.data.global.show_schedule %}
            <li><a class="custom-color" href="#schedule" id="scrollToSchedule">Schedule</a></li>
          {% endif %}

          <li><a class="custom-color" href="#directions" id="scrollToDirections">Directions/Lodging</a></li>
          <li><a class="custom-color" href="#tickets" id="scrollToTickets">Tickets</a></li>
          <li><a class="custom-color" href="#contact" id="scrollToContact">Contact Us</a></li>
        </ul>
      </div>

      <div class="container row">
        <img src="assets/images/headerphoto.jpg" class="img-responsive img-custom">
      </div>

      <!-- START THE FEATURETTES -->
      <a id="about"></a>
      <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
          <h2 class="featurette-heading light-orange">What is University Salsa Fest? <span class="text-muted">1&nbsp;day, 8&nbsp;workshops, and 1&nbsp;awesome party!</span></h2>
          <p class="lead justified">The University Salsa Fest brings the best of Virginia's salsa scene together in Charlottesville, Virginia. Join us for a full day of workshops and a night of social dancing featuring DJ Steve Greene. Come dance with salseros from Charlottesville, Richmond, Blacksburg, Fairfax, Roanoke, Lynchburg, DC, Philadelphia, Atlanta, and beyond!</p>
          <iframe class="center-aligned" width="100%" height="320" src="https://www.youtube.com/embed/iTInz_2xPJM" frameborder="0" allowfullscreen></iframe>
          <p class="right-aligned cushion"><a href="#top" class="scrollToTop">Back to top  <span class="glyphicon glyphicon-circle-arrow-up"></span></a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      {% if site.data.global.show_schedule %}
        {% include schedule.html %}
      {% endif %}

      <div class="row featurette center-aligned">
        <div class="col-md-10 col-md-offset-1">
          <span class="anchor" id="directions"></span>
          <a id="directions"></a>
          <h2 class="featurette-heading light-orange">Where is it? <span class="text-muted">Come visit us in beautiful Charlottesville!</span></h2>
          <p class="lead center-aligned">University of Virginia Student Activities Building</br>George Welsh Way Charlottesville, VA 29903</p>
          <iframe width="570" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=university+of+virginia+student+activities+building&amp;aq=&amp;sll=38.029434,-78.516369&amp;sspn=0.027618,0.05137&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Student+Activities+Bldg,+Charlottesville,+Virginia+22903&amp;ll=38.031935,-78.514996&amp;spn=0.032451,0.054932&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=university+of+virginia+student+activities+building&amp;aq=&amp;sll=38.029434,-78.516369&amp;sspn=0.027618,0.05137&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Student+Activities+Bldg,+Charlottesville,+Virginia+22903&amp;ll=38.031935,-78.514996&amp;spn=0.032451,0.054932&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
          <p class="right-aligned cushion"><a href="#top" class="scrollToTop">Back to top  <span class="glyphicon glyphicon-circle-arrow-up"></span></a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-10 col-md-offset-1">
          <span class="anchor" id="tickets"></span>
          <a id="tickets"></a>
          <h2 class="featurette-heading light-orange">How do I get tickets? <span class="text-muted">Purchase online or at the door!</span></h2>
          <p class="lead schedule-time">General Admission All-Day (Includes Party) <span class="schedule-bold">$20</span></p>
          <p class="lead schedule-time">General Admission Party-Only Pass <span class="schedule-bold">$10</span></p>
          <p class="lead schedule-time">Student All-Day (Includes Party, valid student ID required) <span class="schedule-bold">$5</span></p>
          <p class="lead schedule-time">Registered UVA Salsa Club Member All-Day (Includes Party) <span class="schedule-bold">FREE</span></p>
          <!-- <p class="lead schedule-time cushion">Online ticketing will close at midnight on Thursday, February 2nd. Tickets at the door are cash only.</p> -->
          {% if site.data.global.show_facebook_event %}
              <p class="lead schedule-time cushion">The deadline to <a href="{{ site.data.global.facebook_event_url }}" target="blank">RSVP by clicking "going" on Facebook</a> is {{ site.data.global.rsvp_deadline }}! Don't have Facebook? Please email your name to <a href="mailto:{{ site.data.global.organizer_email }}?subject={{ site.data.global.title }} RSVP" target="blank">{{ site.data.global.organizer_first_name }} at {{ site.data.global.organizer_email }}</a>! RSVP is required for admission.</p>
          {% else %}
              <p class="lead schedule-time cushion">The deadline to RSVP by emailing your name to <a href="mailto:{{ site.data.global.organizer_email }}?subject={{ site.data.global.title }} RSVP" target="blank">{{ site.data.global.organizer_first_name }} at {{ site.data.global.organizer_email }}</a> is {{ site.data.global.rsvp_deadline }}! RSVP is required for admission.</p>
          {% endif %}


          <div class="jumbotron jumbotron-custom">
            <p><a class="btn btn-lg btn-success cushion disabled" href="#" role="button" target="blank">Online tickets coming soon</a></p>
          </div>
          <p class="right-aligned"><a href="#top" class="scrollToTop">Back to top  <span class="glyphicon glyphicon-circle-arrow-up"></span></a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5 hidden-xs col-sm-5">
          <p class="big-cushion"></p>
          <img class="featurette-image img-responsive" src="assets/images/louise.jpg" alt="Generic placeholder image" style="vertical-align:middle;">
          <p class="big-cushion"></p>
        </div>
        <div class="col-md-7 col-sm-7">
          <span class="anchor" id="contact"></span>
          <a id="contact"></a>
          <h2 class="featurette-heading light-orange">Questions? Suggestions?<span class="text-muted">Let's get in touch!</span></h2>
          <p class="lead cushion"></p>
          {% if site.data.global.show_facebook_event %}
              <p class="lead center-aligned">Join our <a href="{{ site.data.global.facebook_event_url }}" target="blank">Facebook event page!</a></p>
        {% endif %}
           <p class="lead center-aligned">Email event coordinator <a href="mailto:{{ site.data.global.organizer_email }}?subject={{ site.data.global.title }} Inquiry" target="blank">{{ site.data.global.organizer_name }} at {{ site.data.global.organizer_email }}</a> with inquiries.</p>
          <p class="right-aligned"><a href="#top" class="scrollToTop">Back to top  <span class="glyphicon glyphicon-circle-arrow-up"></span></a></p>
        </div>
      </div>

      {% if site.data.global.show_sponsors %}
        <hr class="featurette-divider">
        {% include sponsors.html %}
      {% endif %}

      <!-- /END THE FEATURETTES -->

      {% include footer.html %}

    </div> <!-- /container -->

  </body>

{% include bottom.html %}
